:root {
  --banner-width: 760px;
}

@media (max-width: 1400px) {
  .header {
    max-width: var(--banner-width);
    margin: 0 auto;
    padding: 0 10px;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .banner-container {
    width: 100%;
    padding: 0 10px;
    margin-right: 0px;
  }

  .banner-form {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
  }
}
