* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #1a1b1c;
  --error-color: #e46b67;
  --white-color: #d9d9d9;
  --blue-color: #788cde;
  --input-bg-color: #242426;
  --grey-color: #939393;

  --container-width: 1400px;
  --container-height: 573px;
  --banner-width: 760px;
  --banner-height: 500px;
  --form-width: 600px;
}

html,
body,
#root {
  height: 100%;
  background-color: var(--background-color);
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.button {
  cursor: pointer;
}

.button__text {
  margin-right: 9px;
}

.button__icon {
  height: 32px;
  width: 32px;
}

.app {
  font-family: Roboto, sans-serif;
  font-style: normal;
  max-width: var(--container-width);
  padding-top: 60px;
  height: calc(100% - 60px);
  margin: 0 auto;
  color: var(--white-color);
}

.header {
  padding-bottom: 20px;
  color: var(--error-color);
  display: flex;
  align-items: center;
}

.header__title {
  font-weight: bold;
  font-size: 35px;
  flex: 1;
}

.header__subtitle {
  font-size: 14px;
  font-weight: 400;
}

.header__error-field {
  flex: 1;
  text-align: right;
  vertical-align: bottom;
  transition: 0.3s;
  white-space: pre-line;
}

.header__error-field_hidden {
  opacity: 0;
  transition: 0.3s;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 573px;
}

/* BANNER */

.banner-container {
  max-width: var(--banner-width);
  flex: 1;
  margin-right: 10px;
}

.banner-container__banner-preview {
  margin-bottom: 7px;
  font-weight: normal;
  font-size: 18px;
  display: block;
  text-align: right;
  color: var(--white-color);
}

.banner {
}

.banner__image {
}

.banner__text {
}

/* FORM  */

.banner-form {
  flex: 1;
  max-width: var(--form-width);
}

.banner-form__title {
  display: flex;
  color: var(--blue-color);
  align-items: center;
  margin-bottom: 36px;
}

.banner-form__icon {
  background-image: url('../img/paintbrush.svg');
  height: 40px;
  width: 40px;
}

.banner-form__text {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  flex: 1;
  margin-left: 11px;
}

.banner-form__default-button {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
}

.banner-form__default-icon {
  background-image: url('../img/default.svg');
}

.banner-form__form {
  display: flex;
  height: 463px;
  flex-direction: column;
  justify-content: space-between;
}

.banner-form__label {
  margin-bottom: 8px;
}

.banner-form__color-label {
  width: 48%;
}

.banner-form__text-optional {
  font-size: 15px;
  line-height: 18px;
  margin-left: 5px;
  color: var(--grey-color);
}

.banner-form__input {
  margin-bottom: 12px;
  height: 50px;
  width: 100%;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: var(--white-color);
  background-color: var(--input-bg-color);
  padding-left: 10px;
  border-radius: 5px;
  border: none;
}

.banner-form__input:focus,
.banner-form__input:active {
  outline: none;
}
.banner-form__input_err-outlined {
  border: 1px solid var(--error-color);
}

.banner-form__input_short {
  width: 48%;
}

.banner-form__input_short:nth-of-type(1) {
}

.banner-form__textarea {
  font-family: Roboto, sans-serif;
  height: 100px;
  font-weight: normal;
  font-size: 20px;
  color: var(--white-color);
  padding-top: 5px;
}

.banner-form__colors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.export-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  width: fit-content;
  margin-left: auto;
  font-size: 20px;
  color: var(--blue-color);
}

.export-button__icon {
  background-image: url('../img/export.svg');
  width: 25px;
  height: 25px;
  display: inline-block;
}
